node_modules/
test-results/
.idea/
junit.xml
report.json
report.xml
screenshot.png
azure-pipelines.yml
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
./package-lock.json
